/* *************************
    Global CSS Definitions
   ************************* */
body {
  background-color: #fff;
}

#pointer {
  cursor: pointer;
}

a {
  color: #0170bf;
  text-decoration: none;
}

    .navbar-brand {
      position:absolute;
      margin-top:-70px;
      margin-left: 40px;
    }

    .navbar-collapse {
      margin-top: 3px;
      margin-left: 200px;
      color: #0170bf !important;
      font-weight: 900;
      font-size: 18px;
    }

    .logo {
      width: 17%;
    }

    #nav.affix {
      position:fixed;
      top:0;
      width:90%;
      z-index:1
    }

    #sidebar.affix-top {
      position:static
    }

    #sidebar.affix {
      position:fixed;
      top:50px
    }

    #myNavbar li a {
      color: #0170bf !important;
      font-weight: 900;
    }

/*  **********************
       Global Footer CSS
    ********************** */


/* *************************
    Bootstrap Overrides
  ************************* */
.navbar-default {
  opacity: 0.8;
  margin-top: 4em;
}



/* *************************
    index page css
   ************************* */

#home {
 height: 800px;
 width: 100%;
 background-image: url('img/team.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}

#mission {
 height: 800px;
 width: 100%;
 background-image: url('img/ball.png');
 background-repeat: no-repeat;
 background-size: cover;
 color: white;
 font-weight: 900;
 padding-top: 20%;
 padding-left: 3%;
}


#stats {
 height: 800px;
 width: 100%;
 background-image: url('img/field.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 color: white;
 font-weight: 900;
 padding-top: 15%;
}

.standings {
  padding-top: 2%;
  padding-left: 3%;
}

#newsletter {
 width: 100%;
 height: 300px;
 background-color: darkblue;
 color: white;
}
