/* *************************
    Global CSS Definitions
   ************************* */
body {
  background-color: #fff;
}

#pointer {
  cursor: pointer;
}

a {
  color: #0170bf;
  text-decoration: none;
}

.navbar-brand {
  position:absolute;
  margin-top:-70px;
  margin-left: 40px;
}

.navbar-collapse {
  margin-top: 3px;
  margin-left: 200px;
  color: #0170bf !important;
  font-weight: 900;
  font-size: 18px;
}

.logo {
  width: 17%;
}

#nav.affix {
  position:fixed;
  top:0;
  width:90%;
  z-index:1
}

#sidebar.affix-top {
  position:static
}

#sidebar.affix {
  position:fixed;
  top:50px
}

#myNavbar li a {
  color: #0170bf !important;
  font-weight: 900;
  font-size: 18px;

}

/*  **********************
       Global Footer CSS
    ********************** */


/* *************************
    Bootstrap Overrides
  ************************* */
.navbar-default {
  opacity: 0.8;
  margin-top: 4em;
}

.progress {
  width: 35%;
  height: 20px;
  margin-top: .8em;
  color: #000;
  background-color: lightgray;
}

.goal {
  margin-top: .45em;
  color: #0170bf !important;
  font-weight: 900;
}

.progress-bar {
  background-color: #0170bf;
}

/* *************************
    index page css
   ************************* */

#home {
 height: 800px;
 width: 100%;
 background-image: url('img/team.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}

#mission {
 height: 800px;
 width: 100%;
 background-image: url('img/ball.png');
 background-repeat: no-repeat;
 background-size: cover;
 color: white;
 font-weight: 900;
 padding-top: 20%;
 padding-left: 3%;
}


#stats {
 height: 800px;
 width: 100%;
 background-image: url('img/field.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 color: white;
 font-weight: 900;
 padding-top: 15%;
}

#newsletter {
 width: 100%;
 height: 300px;
 background-color: darkblue;
 color: white;
}

.standings {
  padding-top: 2%;
  padding-left: 3%;
}

/* *************************
    sports page css
   ************************* */

#football {
 height: 800px;
 width: 100%;
 background-image: url('img/footballBanner2.png');
 background-repeat: no-repeat;
 background-size: auto;
 color: #000;
 font-weight: 900;
 padding-top: 12%;
 padding-left: 3%;
}

#cheer {
 height: 800px;
 width: 100%;
 background-image: url('img/cheerBanner.png');
 background-repeat: no-repeat;
 background-size: auto;
 color: #000;
 font-weight: 900;
 padding-top: 15%;
 padding-left: 3%;
}

/* *************************
    gallery page css
   ************************* */

#footballPics {
 height: 800px;
 width: 100%;
 background-image: url('img/footballBanner2.png');
 background-repeat: no-repeat;
 background-size: auto;
 color: #000;
 font-weight: 900;
 padding-top: 15%;
 padding-left: 3%;
}

#cheerPics {
 height: 800px;
 width: 100%;
 background-image: url('img/cheerBanner.png');
 background-repeat: no-repeat;
 background-size: auto;
 color: #000;
 font-weight: 900;
 padding-top: 15%;
 padding-left: 3%;
}

#pics {
  padding-left: 10%;
}

/* *************************
      parents page css
   ************************* */

#fundraising {
 height: 800px;
 width: 100%;
 background-image: url('img/');
 background-repeat: no-repeat;
 background-size: auto;
 color: #000;
 font-weight: 900;
 padding-top: 15%;
 padding-left: 3%;
}

#volunteer {
 height: 800px;
 width: 100%;
 background-image: url('img/');
 background-repeat: no-repeat;
 background-size: auto;
 color: #000;
 font-weight: 900;
 padding-top: 15%;
 padding-left: 3%;
}

/* *************************
      contact page css
   ************************* */

#contact {
 height: 800px;
 width: 100%;
 background-image: url('img/');
 background-repeat: no-repeat;
 background-size: auto;
 color: #000;
 font-weight: 900;
 padding-top: 15%;
 padding-left: 3%;
}

/*  **********************
         Lightbox  CSS
    ********************** */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 260px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  padding-top: 230px;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}